/* @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import "../node_modules/@bitnoi.se/react-scheduler/dist/style.css"; */
:root {
  --fc-button-bg-color: #9da7c8;
  --fc-button-border-color: #929292;
  --fc-button-text-color: #fff;
  --fc-button-active-bg-color: #9da7c8;
  --fc-button-active-border-color: #929292;
  --fc-button-hover-bg-color: #9da7c8;
  --fc-button-hover-border-color: #929292;
  --fc-event-border-color: none;
  --fc-small-font-size: 0.6rem;
}
.fc .fc-timegrid-axis-cushion {
  flex-shrink: 0;
  max-width: 60px;
  opacity: 0;
}

.fc-event-title-container {
  font-weight: 600;
  font-size: 0.8rem;
}

.fc-v-event .fc-event-main-frame {
  padding: 5px;
  display: grid;
  gap: 5px;
}
body {
  margin: 0;
  font-family: "Prosto One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* layout */
.layout {
  display: grid;
  grid-template-columns: 300px 1fr;

  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 145px;
  background-color: #9da7c8;
  padding: 22px 0;
}

.navbar__logo {
  align-self: center;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  gap: 45px;
  list-style: none;
  padding: 0;
  padding-left: 27px;
  margin: 0;
}

.navbar__link {
  display: block;
  color: #000000;
  font-family: "Prosto One";
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.2s;
  border-radius: 22px 0 0 22px;
  padding: 15px 19px;
}

.navbar__link--active {
  background-color: #ffffff;

  box-shadow: -9px 4px 9px 0 rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* Auth */
.auth {
  padding: 60px 75px;
  padding-bottom: 0px;
}
.auth-wrapper {
  display: grid;
  background: #9da7c8;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
}
.auth__form {
  display: grid;
  justify-content: center;
  width: 300px;
}
.auth__logo {
  margin-top: -40px;
  text-align: center;
  margin-bottom: 110px;
}
.auth__form__item input,
label {
  display: grid;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}
.auth__form__item_content {
  display: grid;
}
.auth__title {
  text-align: center;
  font-family: Prosto One;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 40px;
}
.auth__text {
  margin-top: 22px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 20px;
}
.auth__text span {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.auth__form input {
  border-radius: 10px;
  border: 1px solid #d8dadc;
  background: #fff;
  outline: none;
  padding: 18px 16px;
}
.auth__link {
  text-decoration: none;
  color: #000;
}
.auth__form__send {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth__form__send button {
  margin-top: 20px;
  border-radius: 10px;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
}
.auth__form__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
/* Timetable */
.timetable {
  padding: 93px 46px;
}
.timetable__title {
  font-family: Prosto One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 17px;
}
.timetable__text {
  font-family: Prosto One;
  font-size: 24px;
  font-weight: 400;
}
.timetable__text span {
  color: #929292;
}
.timetable-wrap-text__wrap {
  display: flex;
  gap: 40px;
}
.timetable__down {
  justify-content: start;
  margin-top: 18px;
  display: flex;
  gap: 64px;
  padding: 34px;
  border-radius: 52px;
  background: #f8f8f8;
  box-shadow: 0px 24px 52px 0px rgba(0, 0, 0, 0.1),
    0px 95px 95px 0px rgba(0, 0, 0, 0.09),
    0px 213px 128px 0px rgba(0, 0, 0, 0.05),
    0px 378px 151px 0px rgba(0, 0, 0, 0.01),
    0px 591px 165px 0px rgba(0, 0, 0, 0);
}
.timetable__down__items {
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  display: grid;
  gap: 11px;
}
.timetable__down__item {
  padding: 11px;
  border: 4px solid rgba(157, 167, 200, 0.3);
  height: 93px;
  width: 110%;
  border-radius: 11px;
  background: transparent;
  color: #212525;
  display: grid;
  gap: 5px;
}
.timetable__down__item:hover {
  transition: all 0.5s;
  color: #fff;
  background: #9da7c8;
}
.timetable__down__title {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
}
.timetable__down__type {
  font-family: Poppins;
  font-size: 8px;
  font-weight: 500;
}
.timetable__down__audience {
  font-size: 8px;
  font-family: Poppins;
  font-weight: 400;
}
.timetable__down__teacher {
  font-size: 8px;
  font-family: Poppins;
  font-weight: 400;
}
.timetable__down__time__text {
  display: grid;
  font-family: Poppins;
  font-size: 9px;
  font-weight: 500;
}
.timetable__down__time__text span {
  color: #bcc1cd;
  font-size: 9px;
}
.timetable__down__time {
  display: grid;
  gap: 20px;
}
.timetable__up {
  display: flex;
  justify-content: space-between;
}
.timetable__down__time__text {
  height: 20px;
  margin-top: 35px;
}
.timetable__down__item_extra {
  border-radius: 11px;
  background-color: transparent;
}

/* Teachers */
.teachers {
  padding: 93px 46px;
}
.teachers__up {
  display: flex;
  justify-content: space-between;
}
.teachers__title {
  font-family: Prosto One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 17px;
  border-bottom: 3px solid #9da7c8;
}
.teachers__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.teacher__card {
  padding: 10px;
  width: calc(25% - 20px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
  border-radius: 20px;
  margin-bottom: 20px;
  min-width: calc(25% - 20px);
}
.teacher__card:hover {
  scale: 1.05;
}
.teacher__card__teacher {
  font-size: 18px;
  padding-bottom: 7px;
}

.teacher__card__subject {
  font-size: 12px;
}

/* Student */
.student {
  padding: 93px 46px;
}
.student__up {
  display: flex;
  justify-content: space-between;
}
.student__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 17px;
  border-bottom: 3px solid #9da7c8;
}
.student__content {
  display: grid;
}
.student__content__title {
  font-weight: 600;
  padding-bottom: 10px;
}
.student__content p span {
  font-weight: 600;
}
.student__content__title_extra {
  padding-top: 25px;
}

.waiting {
  display: grid;
  margin-top: 100px;
  text-align: center;
}
.waiting__title {
  font-size: 40px;
}
.waiting__link {
  padding-top: 50px;
  text-decoration: none;
  color: #000;
}
